<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1><i>"We are what we pretend to be."</i></h1>
                <br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/mask.jpg" | prepend: site.baseurl }}" class="img-responsive">
                <br>
            </div>

            <div class="col-lg-10 col-lg-offset-1">
                <h2>MASK is a collection of virtual reality masks<br>that explore ways to shift identity</h2>
                <h3><br>Here documenting what I explored and created, including graphics. physical computation. and fabrication.<br><br>If you want, let's enjoy changing our perspectives with MASK, and overcoming the thing you want to overcome.</h3>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->