<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>You see. And you believe.</h1>
                <h3>MASK is a collection of virtual reality wearables that explores the shift of identity.</h3>
                <h4>Here I shared what I've learned and what I've explored, include both concept, visuals, pcomp, and masks fabrication. This way, it will be easier for people to create their own World, and use MASK to overcome the thing they want to overcome.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/mask.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->