<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1><i>"Become what you you pretend to be."</i></h1>
                <h3><b>MASK</b> is a collection of virtual reality wearables<br>that explores the shift of identity.</h3>
                <h4><br>Here I shared what I explored and created: <br>Ideation. Graphics. Physical computation. Fabrication.<br><br>Enjoy creating new <i><b>You</b></i> with MASK, and overcoming the thing you want to overcome.</h4>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/mask.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->