---
layout: default
---
{% include wrap.html %}

{% include portfolio.html %}

{{ content }}
<!-- <center><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="800" height="533" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F114286918660884399372%2Falbumid%2F6156577051739979569%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></center>
<br><br> -->


<h3 style="text-align:center">NYC Geek Street Fair 2015 | Experiments in Storytelling Showcase | ITP Spring Show</h3>

<div class="flickr_albums">
	<a data-flickr-embed="true" data-header="true"  href="https://www.flickr.com/photos/108187446@N06/albums/72157660534061230" title="MASK - NYC Geek Street Fair 2015"><img src="https://farm6.staticflickr.com/5836/22844184292_e14e63e8d4.jpg" width="375" height="500" alt="MASK - NYC Geek Street Fair 2015"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
	<a data-flickr-embed="true" data-header="true"  href="https://www.flickr.com/photos/108187446@N06/albums/72157660170640577" title="MASK - Experiments in Storytelling Showcase"><img src="https://farm1.staticflickr.com/703/22236537233_dec2706046.jpg" width="375" height="500" alt="MASK - Experiments in Storytelling Showcase"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
	<a data-flickr-embed="true" data-header="true"  href="https://www.flickr.com/photos/108187446@N06/albums/72157658613046184" title="MASK - ITP Spring Show 2015"><img src="https://farm6.staticflickr.com/5705/22669694370_3ac751437e.jpg" width="334" height="500" alt="MASK - ITP Spring Show 2015"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>
<br><br>
